
.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 20rem;
    height: 20rem;
    margin: 20px;
}

.cell {
    outline: solid;
}