
.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 250px;
    height: 250px;
    margin: 20px;
}

.resetButton {
    width: 100px;
    height: 45px;
    font-size: 1rem;
    background-color: green;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .resetButton:hover {
    color: black;
    background-color: lightgrey;
  }

  .Cell {
    border: 1px solid white;
  }