.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.resetButton {
  width: 200px;
  height: 45px;
  font-size: 1.5rem;
  background-color: green;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.resetButton:hover {
  color: black;
  background-color: lightgrey;
}